@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  box-shadow: none;
}

html,
body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
  background: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

textarea:focus,
input:focus,
select:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

button {
  cursor: pointer;
  background: none;
}

